hr.app-separator
  margin 0 0 16px 0
  position relative
  &.app-separator--with-label
    margin 0 0 26px 0

  > small
    position absolute
    left -6px
    color #b7b7b7
    top 4px
    background transparent
    padding 0 7px

  + .field-error
    display none
