$break = 700px

.form
  min-width 260px
  width 100%

  .field
    width 100%
    padding 5px

.form.form-flex
  display flex
  flex-wrap wrap
  flex-flow row wrap

  .field
    for width in (1..20)
      &.width-{width * 5}
        max-width width * 5%

@media (max-width $break)
  .form.form-flex:not(.no-break) .field:not(.no-break)
    max-width 100% !important

.form.form-grid
  display grid
  grid-template-columns repeat(100, 1%)

  .field
    grid-column auto / span 100
    for index in (1..100)
      &.width-{index}
        grid-column auto / span index

    for index in (1..10)
      &.height-{index}
        grid-row auto / span index

@media (max-width $break)
  .form.form-grid:not(.no-break) .field:not(.no-break)
    grid-column auto / span 100 !important
    grid-row auto / span 1
