::-webkit-scrollbar
  width 12px
  height 10px

::-webkit-scrollbar-track
  border-radius 4px
  box-shadow unset

::-webkit-scrollbar-track-piece
  background 0 0

::-webkit-scrollbar-track:hover
  background rgba(79, 111, 127, .05)

::-webkit-scrollbar-thumb
  border-radius 4px
  background rgba(0, 0, 0, .4)

::-webkit-scrollbar-thumb
  background-color #b4c7d0
  border 3px solid transparent
  background-clip padding-box
  border-radius 5px

::-webkit-scrollbar-thumb:hover
  background-color #4f6f7f

::-webkit-scrollbar-thumb:window-inactive
  background-color #c6dae3

.q-scrollarea-thumb
  width 4px
  border-radius 4px
