// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary = #027BE3 //
$secondary = #323c78
$accent = #64e2de // #37909f
// old
$tertiary = #ffffff

$positive = #59B259
$negative = #D9534F
$info = #31CCEC
$warning = #F2C037
// old
$neutral = #E0E1E2

$errorForeground = #c73b3a
$errorBackground = rgba(255, 155, 138, 0.3)
